*{
    margin: 0;
    padding: 0;
    font-family: Century;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/background.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 54%;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 10px 25px;
    color: #fff;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
}
.btn:hover{
    background: rgb(29, 29, 29);
    color: #fff;
    transition: 1.5s ease;
}