@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#BDC3C7,#2C3E50);
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 10px;
    min-height: 400px;
    margin-right: 60px;
    margin-bottom: 280px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 10px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
ul li a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
h2 {
    text-align: center;
    justify-content: center;
    margin-left: -550px;
}
hr{
    width: 210px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: -260px;
}
.member{
    display: flex;
}
.team-mem{
    margin: 8px;
}
img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: inherit;
    flex-direction: column;
}
h4{
    position: relative;
    text-align: center;
    font-size: 20px;
    left: -267px;
    justify-self: space-between;
}